<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <form method="POST" action="/new" class="form">
      <label><input type="text" name="userName" required />Your name</label>
      <label><textarea name="message" required></textarea>Your message</label>
      <div class="btnContainer">
        <button type="submit">Submit</button>
        <a href="/"><button type="button">Back</button></a>
        
      </div>
    </form>
  </body>
</html>
